In [ ]:
import os
import pandas as pd

In [ ]:
os.listdir('./drive/MyDrive/machine learning/data')

['friend.csv',
 'new_friend.csv',
 'new_friend_index_true.csv',
 'ventura.csv',
 'abalone.data']

In [ ]:
# 데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/machine learning/data'
friend_src = base_src + '/friend.csv'

In [ ]:
friend_src

'./drive/MyDrive/machine learning/data/friend.csv'

In [ ]:
# pandas의 read_csv => 데이터 불러오기
# 무조건 utf-8 csv로 무조건 저장해야함
# 안 읽어지면 뒤에 engine='python' 추가해주면 잘 읽어짐
df = pd.read_csv(friend_src,encoding='utf-8')

In [ ]:
# head() 데이터를 읽어보기 => default=5
df.head(6)

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
new_friend_src = base_src+"/new_friend_index_true.csv"

In [ ]:
# index=False 해주어야 앞에 쓸데 없는 인덱스를 추가해주지 않음
df.to_csv(new_friend_src,index=False, encoding='utf-8')

In [ ]:
os.listdir(base_src)

['friend.csv',
 'new_friend.csv',
 'new_friend_index_true.csv',
 'ventura.csv',
 'abalone.data']

In [ ]:
new_friend_index_true = pd.read_csv(new_friend_src)

In [ ]:
# 해보면 index=False 를 왜 넣어주는 지 알 수 있음
new_friend_index_true
# 인덱스의 사용 이유 => 조회, 데이터 정렬

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
# Series 실습
import numpy as np

np.array([1,2,3])

array([1, 2, 3])

In [ ]:
# numpy의 array와 유사해보지만
# 인덱스의 존재 유무 차이
# numpy는 연산에 더 특화
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [ ]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [ ]:
# column 출력하니까 Series와 유사하네?
# 데이터프레임은 집합의 개념
# 시리즈는 단일의 개념, 데이터프레임의 한 열이라고 생각
# 데이터프레임 => 시리즈 => 데이터프레임
series=df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [ ]:
# pd.Series 함수를 통해서 만들기
series = pd.Series(['John','Jenny','Nate','Julia','Brian','Chris'])
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
dtype: object

In [ ]:
# pd.Series의 옵션
# index => 할당값의 지정 이름. 중복 가능 ['a', 'a','b','c']
# dtype -> 대표적: int. float. string. boolean 등
series=pd.Series([10,2,5,4],index=['a','b','c','d'],dtype=float)
series

a    10.0
b     2.0
c     5.0
d     4.0
dtype: float64

In [ ]:
# 굉장히 많이 쓰임
# default ascending=True
series=series.sort_values(ascending=True)
series

b     2.0
d     4.0
c     5.0
a    10.0
dtype: float64

In [ ]:
# DataFrame 실습

# raw data => 가공처리(for) => 
# for 문으로 가공한 데이터를 어디에 쌓지?
# dataFrame에 쌓는다.

# 딕셔너리 형태
df=pd.DataFrame({'a':[2,3],'b':[5,10]},columns=['b','a'])
df

    b  a
0   5  2
1  10  3

In [ ]:
# 리스트
df=pd.DataFrame([[2,5],[3,4],[10,20]], columns=['a','b'])
df

    a   b
0   2   5
1   3   4
2  10  20

In [ ]:
df=pd.DataFrame([[2,'a',100],[3,10,200],[10,20,300]],
                columns=['a','b','c'],index=['가','나','다'],dtype=float)
df

      a   b      c
가   2.0   a  100.0
나   3.0  10  200.0
다  10.0  20  300.0

In [ ]:
# DataFrame 행, 열 선택 및 필터링
df=pd.read_csv(friend_src,encoding='utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [ ]:
# index 2번에 해당하는 row 가져오기
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [ ]:
df.iloc[[2]] # select * from friend where pk=2 : database 개념

   name  age      job
2  Nate   30  teacher

In [ ]:
df.loc[:,'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
df.iloc[1,2]

'developer'

In [ ]:
df.loc[1,'job']

'developer'

In [ ]:
df['age']

0    20
1    30
2    30
3    40
4    45
5    25
Name: age, dtype: int64

In [ ]:
df['new_columns'] = [1,2,3,4,5,1.0]

In [ ]:
# dtype의 우선 순위는 문자 => 실수 => 정수
df['new_columns']

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    1.0
Name: new_columns, dtype: float64

In [ ]:
type(df['new_columns'][0])==np.float64

True

In [ ]:
# 한 행의 한 열이 비어있는 경우 
# 평균 값으로 채워 넣던지, 최빈 값으로 채워 넣던지
# 해당 행을 삭제해버리거나

# 이 데이타프레임의 분포를 알기 위해서?
# #시각화#  EDA(Exploral Data Analysis)

In [ ]:
# - DataFrame 행, 열 삭제
# 머신러닝 => 차원의 저주 ....... prune...가지치기.. 대체 값!!!.....
# 차원이 너무 크면 과적합 차원을 축소해서 유의미한 정보만
# ex) pca

In [ ]:
df=pd.DataFrame(np.arange(12).reshape(3,4),
                columns=['A','B','C','D'])

In [ ]:
# reshape이 3*4로 만들어줌
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
# axis는 축을 의미
# axis=0 행 기준, axis=1 열 기준
# inplace 해주면 변수 할당 안해줘도 df가 변경됨
df.drop(['B','C'],axis=1)

   A   D
0  0   3
1  4   7
2  8  11

In [ ]:
# axis의 default value = 0
df.drop([0,1])

   A  B   C   D
2  8  9  10  11

In [ ]:
df.loc[1,'C']='육'

In [ ]:
df.iloc[1,2]=6

In [ ]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11