In [1]:
# 데이터프레임 행, 열 선택 및 필터링 복습
import os
import pandas as pd

In [2]:
os.listdir('./drive/MyDrive/machine learning')

['data',
 'ventura.ipynb',
 'DataFrame_2.ipynb',
 'Matplotlib_Seaborn.ipynb',
 'DataFrame_1.ipynb']

In [3]:
base_src = "./drive/MyDrive/machine learning/data"
friend_src=base_src+"/friend.csv"
df=pd.read_csv(friend_src)
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [4]:
#index 2번에 해당하는 row 가져오기
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [5]:
# column job에 해당되는 데이터 가져오기
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [6]:
# colu,n job에 해당하는 데이터 가져오기 2
df.loc[:,'job'] # 앞에가 행 , 뒤에가 열

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [7]:
# 슬라이싱 기능을 통해 여러 행 가져오기
print(df.iloc[[2,3]]) # 슬라이싱 X
print()
print(df.iloc[2:4]) # 슬라이싱 사용 2~3
df.iloc[2:4,:1]

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

    name
2   Nate
3  Julia

In [8]:
# iloc와 loc가 뭐가 다르죠?
# iloc 인덱스와 컬럼을 리스트 배열로 선택하는 것
# loc는 인덱스와 컬럼을 문자로 선택하는 것

In [9]:
# 조건 필터링 가져오기
# 30 대 이상만 가져오기
df['age']>=30
df[df['age']>=30] # df[[True,True,True,True,False]] 이런 식으로 표현 가능

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [10]:
## job이 intern인 사람 가져오기
df[df['job']=='intern']

    name  age     job
5  Chris   25  intern

In [11]:
## 조건이 여러 개
## 30대 이상 40대 이하 // and function 사용
# 각 조건을 괄호로 씌워 줘야 함 !
# df[(조건1) & (조건2)]
df[(df['age']>=30) & (df['age']<40)]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [12]:
## or function
df[(df['age']<30) | (df['age']>40)]

    name  age      job
0   John   20  student
4  Brian   45  manager
5  Chris   25   intern

In [13]:
# in을 통해서 포함 조건 걸기
#df[df['job'] in ['student', 'manager']]  ValueError
df[df['job'].apply(lambda x: x in ['student','manager'])]

    name  age      job
0   John   20  student
4  Brian   45  manager

In [14]:
df['job'].apply(lambda x: x in ['student','manager'])

0     True
1    False
2    False
3    False
4     True
5    False
Name: job, dtype: bool

In [15]:
# DataFrame 행 열 삭제
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3,4),
                  columns=['A','B','C','D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [16]:
# B C 컬럼을 삭제하고 싶다.
df.drop(["B","C"], axis=1, inplace=True)
# df = ~ 의 역할을 inplace = True 가 해준다.
df

   A   D
0  0   3
1  4   7
2  8  11

In [17]:
# index 0과 1을 삭제하겠습ㄴ디ㅏ.
df.drop([0,1]) # axis=0, 행 방향이 default

   A   D
2  8  11

In [18]:
# DataFrame 행, 열 수정
df=pd.read_csv(friend_src, encoding='utf-8')
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [19]:
# df를 하나 복사하겠습니다. (원본 데이터 유지를 위해서)
temp = df.copy()
temp

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [20]:
# age 컬럼 모든 값을 변경
temp['age']=20
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   20    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [21]:
# 지정한 인덱스의 컬럼을 바꾸고 싶다.
# Nate를  27살로
temp.loc[2,'age']=27 # 2행의 age열을 변경
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   27    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [22]:
# DataFrame 그룹 생성
# 원하는 값을 지정하고 값에 해당하는 데이터를 집계 및 요약
os.listdir(base_src)

['friend.csv',
 'new_friend.csv',
 'ventura.csv',
 'abalone.data',
 'new_friend_index_true.csv']

In [23]:
abalone_src = base_src + '/abalone.data'
abalone_src

'./drive/MyDrive/machine learning/data/abalone.data'

In [24]:
abalone_df = pd.read_csv(abalone_src, header=None, sep=',',
                        names=['sex','length', 'diameter', 'height',
                               'whole_weight', 'shucked_weight','viscera_weight',
                               'shell_weight','rings'])
abalone_df

     sex  length  diameter  ...  viscera_weight  shell_weight  rings
0      M   0.455     0.365  ...          0.1010        0.1500     15
1      M   0.350     0.265  ...          0.0485        0.0700      7
2      F   0.530     0.420  ...          0.1415        0.2100      9
3      M   0.440     0.365  ...          0.1140        0.1550     10
4      I   0.330     0.255  ...          0.0395        0.0550      7
...   ..     ...       ...  ...             ...           ...    ...
4172   F   0.565     0.450  ...          0.2390        0.2490     11
4173   M   0.590     0.440  ...          0.2145        0.2605     10
4174   M   0.600     0.475  ...          0.2875        0.3080      9
4175   F   0.625     0.485  ...          0.2610        0.2960     10
4176   M   0.710     0.555  ...          0.3765        0.4950     12

[4177 rows x 9 columns]

In [25]:
# 1. 데이터 shape를 확인
# 딥러닝(CNN) => 이미지 (데이터 수, 가로, 세로, 흑백(1), 칼라(3))
# 딥러닝(RNN) => 텍스트, 시계열(데이터 수, 시간, 세로)
abalone_df.shape

(4177, 9)

In [26]:
# 데이터 결측값 확인
# 빈값
# sum을 가지고 총 null 값의 수, 결측값의 수를 알 수 있음
abalone_df.isnull().sum().sum() # Ture=1, False=0

0

In [27]:
abalone_df.head()

  sex  length  diameter  ...  viscera_weight  shell_weight  rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [28]:
# 기술통계 확인 => 연속형 변수만 확인 가능 => numerical 변수만 확인 가능
# ex) sex 같은 것은 확인 불가
abalone_df.describe()

            length     diameter  ...  shell_weight        rings
count  4177.000000  4177.000000  ...   4177.000000  4177.000000
mean      0.523992     0.407881  ...      0.238831     9.933684
std       0.120093     0.099240  ...      0.139203     3.224169
min       0.075000     0.055000  ...      0.001500     1.000000
25%       0.450000     0.350000  ...      0.130000     8.000000
50%       0.545000     0.425000  ...      0.234000     9.000000
75%       0.615000     0.480000  ...      0.329000    11.000000
max       0.815000     0.650000  ...      1.005000    29.000000

[8 rows x 8 columns]

In [29]:
# 전복(ablaone) 성별에 따라 groupby 함수를 통해 집계를 하겠습니다.
# e) DataFrane[집계 변수].groupby(DataFrame[집계 대상])
grouped = abalone_df['whole_weight'].groupby(abalone_df['sex'])

In [30]:
grouped

In [31]:
grouped.sum()

sex
F    1367.8175
I     578.8885
M    1514.9500
Name: whole_weight, dtype: float64

In [32]:
grouped.mean()

sex
F    1.046532
I    0.431363
M    0.991459
Name: whole_weight, dtype: float64

In [33]:
grouped.size()

sex
F    1307
I    1342
M    1528
Name: whole_weight, dtype: int64

In [34]:
# 그룹 변수가 하나가 아닌, 전체 연속형 변수에 대한 집계
# groupby 안의 변수가 기준
abalone_df.groupby(abalone_df['sex']).mean()

       length  diameter    height  ...  viscera_weight  shell_weight      rings
sex                                ...
F    0.579093  0.454732  0.158011  ...        0.230689      0.302010  11.129304
I    0.427746  0.326494  0.107996  ...        0.092010      0.128182   7.890462
M    0.561391  0.439287  0.151381  ...        0.215545      0.281969  10.705497

[3 rows x 8 columns]

In [35]:
# 다음과 같이 간단하게 표현 가능
abalone_df.groupby('sex').mean()

       length  diameter    height  ...  viscera_weight  shell_weight      rings
sex                                ...
F    0.579093  0.454732  0.158011  ...        0.230689      0.302010  11.129304
I    0.427746  0.326494  0.107996  ...        0.092010      0.128182   7.890462
M    0.561391  0.439287  0.151381  ...        0.215545      0.281969  10.705497

[3 rows x 8 columns]

In [36]:
# 새로운 조건에 맞는 변수 추가
abalone_df['length_bool'] = np.where(abalone_df['length']>abalone_df['length'].median(),
                                     'length_long', # True
                                     'length_short') # False

In [37]:
abalone_df.head()

  sex  length  diameter  ...  shell_weight  rings   length_bool
0   M   0.455     0.365  ...         0.150     15  length_short
1   M   0.350     0.265  ...         0.070      7  length_short
2   F   0.530     0.420  ...         0.210      9  length_short
3   M   0.440     0.365  ...         0.155     10  length_short
4   I   0.330     0.255  ...         0.055      7  length_short

[5 rows x 10 columns]

In [38]:
# 그룹변수를 2개 이상 선택해서 총게처리
abalone_df.groupby(['sex','length_bool']).mean() # => EDA(Exploratory data analysis) 탐색적 데이터 분석

                    length  diameter  ...  shell_weight      rings
sex length_bool                       ...
F   length_long   0.626895  0.493020  ...      0.360013  11.415073
    length_short  0.477428  0.373301  ...      0.178650  10.521531
I   length_long   0.584495  0.452952  ...      0.273247  10.585106
    length_short  0.402210  0.305893  ...      0.104549   7.451473
M   length_long   0.623359  0.489291  ...      0.351683  11.299172
    length_short  0.454875  0.353336  ...      0.162141   9.685053

[6 rows x 8 columns]

In [39]:
# 특정 그룹만 보고 싶으면
abalone_df.groupby(['sex','length_bool'])['shucked_weight'].mean()

sex  length_bool
F    length_long     0.542957
     length_short    0.240380
I    length_long     0.402524
     length_short    0.156581
M    length_long     0.554312
     length_short    0.224335
Name: shucked_weight, dtype: float64

In [40]:
# 중복 데이터 삭제
# 중복된 row를 확인하는 법
abalone_df.duplicated().sum()

0

In [41]:
# 중복 예제 생성을 위해서, 가상으로 중복데이터 생성
new_abalone = abalone_df.iloc[[0]]
new_abalone_df = pd.concat([abalone_df,new_abalone],axis=0)
new_abalone_df

     sex  length  diameter  ...  shell_weight  rings   length_bool
0      M   0.455     0.365  ...        0.1500     15  length_short
1      M   0.350     0.265  ...        0.0700      7  length_short
2      F   0.530     0.420  ...        0.2100      9  length_short
3      M   0.440     0.365  ...        0.1550     10  length_short
4      I   0.330     0.255  ...        0.0550      7  length_short
...   ..     ...       ...  ...           ...    ...           ...
4173   M   0.590     0.440  ...        0.2605     10   length_long
4174   M   0.600     0.475  ...        0.3080      9   length_long
4175   F   0.625     0.485  ...        0.2960     10   length_long
4176   M   0.710     0.555  ...        0.4950     12   length_long
0      M   0.455     0.365  ...        0.1500     15  length_short

[4178 rows x 10 columns]

In [42]:
new_abalone_df.duplicated().sum()

1

In [43]:
new_abalone_df.duplicated(keep='last')

0        True
1       False
2       False
3       False
4       False
        ...
4173    False
4174    False
4175    False
4176    False
0       False
Length: 4178, dtype: bool

In [44]:
# 중복 데이터 row 삭제
# 변수 할당 해줘야 함
# new_abalone_df = 
new_abalone_df.drop_duplicates()

     sex  length  diameter  ...  shell_weight  rings   length_bool
0      M   0.455     0.365  ...        0.1500     15  length_short
1      M   0.350     0.265  ...        0.0700      7  length_short
2      F   0.530     0.420  ...        0.2100      9  length_short
3      M   0.440     0.365  ...        0.1550     10  length_short
4      I   0.330     0.255  ...        0.0550      7  length_short
...   ..     ...       ...  ...           ...    ...           ...
4172   F   0.565     0.450  ...        0.2490     11   length_long
4173   M   0.590     0.440  ...        0.2605     10   length_long
4174   M   0.600     0.475  ...        0.3080      9   length_long
4175   F   0.625     0.485  ...        0.2960     10   length_long
4176   M   0.710     0.555  ...        0.4950     12   length_long

[4177 rows x 10 columns]

In [45]:
new_abalone_df.drop_duplicates(keep='last')

     sex  length  diameter  ...  shell_weight  rings   length_bool
1      M   0.350     0.265  ...        0.0700      7  length_short
2      F   0.530     0.420  ...        0.2100      9  length_short
3      M   0.440     0.365  ...        0.1550     10  length_short
4      I   0.330     0.255  ...        0.0550      7  length_short
5      I   0.425     0.300  ...        0.1200      8  length_short
...   ..     ...       ...  ...           ...    ...           ...
4173   M   0.590     0.440  ...        0.2605     10   length_long
4174   M   0.600     0.475  ...        0.3080      9   length_long
4175   F   0.625     0.485  ...        0.2960     10   length_long
4176   M   0.710     0.555  ...        0.4950     12   length_long
0      M   0.455     0.365  ...        0.1500     15  length_short

[4177 rows x 10 columns]

In [46]:
# NaN(결측치)를 찾아서 다른 값으로 변경
# 기존 데이터에는 결측치가 존재 X
abalone_df.isnull().sum().sum()

0

In [60]:
# 가상으로 결측치 만들기
nan_abalone_df = abalone_df.copy()
nan_abalone_df.loc[2, 'length'] = np.nan
nan_abalone_df.loc[3,'rings'] = np.nan
nan_abalone_df.loc[0,'sex'] = np.nan
nan_abalone_df.isnull().sum().sum()

3

In [48]:
# 결측치를 특정 값으로 채우기
# 실수가 정수를 이김, 0으로 채우면 0.000
zero_abalone_df = nan_abalone_df.fillna(0)
zero_abalone_df

     sex  length  diameter  ...  shell_weight  rings   length_bool
0      0   0.455     0.365  ...        0.1500   15.0  length_short
1      M   0.350     0.265  ...        0.0700    7.0  length_short
2      F   0.000     0.420  ...        0.2100    9.0  length_short
3      M   0.440     0.365  ...        0.1550    0.0  length_short
4      I   0.330     0.255  ...        0.0550    7.0  length_short
...   ..     ...       ...  ...           ...    ...           ...
4172   F   0.565     0.450  ...        0.2490   11.0   length_long
4173   M   0.590     0.440  ...        0.2605   10.0   length_long
4174   M   0.600     0.475  ...        0.3080    9.0   length_long
4175   F   0.625     0.485  ...        0.2960   10.0   length_long
4176   M   0.710     0.555  ...        0.4950   12.0   length_long

[4177 rows x 10 columns]

In [49]:
# 결측치를 결측치가 속한 컬럼의 평균값으로 대체하기
nan_abalone_df.mean()

length            0.523991
diameter          0.407881
height            0.139516
whole_weight      0.828742
shucked_weight    0.359367
viscera_weight    0.180594
shell_weight      0.238831
rings             9.933669
dtype: float64

In [50]:
# 알아서 해당 column의 평균 값으로 들어감
# 연속형 변수만 이 방식으로 채울 수 있음
nan_abalone_df = nan_abalone_df.fillna(nan_abalone_df.mean())
# categorical한 값은 평균으로 채울 수 가 없음!
sex_mode = nan_abalone_df['sex'].value_counts().sort_values(ascending=False).index[0]
nan_abalone_df['sex'] = nan_abalone_df['sex'].fillna(sex_mode)
nan_abalone_df

     sex    length  diameter  ...  shell_weight      rings   length_bool
0      M  0.455000     0.365  ...        0.1500  15.000000  length_short
1      M  0.350000     0.265  ...        0.0700   7.000000  length_short
2      F  0.523991     0.420  ...        0.2100   9.000000  length_short
3      M  0.440000     0.365  ...        0.1550   9.933669  length_short
4      I  0.330000     0.255  ...        0.0550   7.000000  length_short
...   ..       ...       ...  ...           ...        ...           ...
4172   F  0.565000     0.450  ...        0.2490  11.000000   length_long
4173   M  0.590000     0.440  ...        0.2605  10.000000   length_long
4174   M  0.600000     0.475  ...        0.3080   9.000000   length_long
4175   F  0.625000     0.485  ...        0.2960  10.000000   length_long
4176   M  0.710000     0.555  ...        0.4950  12.000000   length_long

[4177 rows x 10 columns]

In [51]:
# 데이터 프레임의 꽃
# apply 함수
# 본인이 원하는 행과 열에 연산 혹은 function을 적용할 수 있다.
# 열 기준 axis = 0
# 행 기준 axis = 1
abalone_df[['diameter']].apply(np.average, axis = 0)

diameter    0.407881
dtype: float64

In [52]:
# 행 기준 집계
abalone_df[['diameter', 'whole_weight']].apply(np.average, axis=1)

0       0.43950
1       0.24525
2       0.54850
3       0.44050
4       0.23000
         ...
4172    0.66850
4173    0.70300
4174    0.82550
4175    0.78975
4176    1.25175
Length: 4177, dtype: float64

In [53]:
# 사용자 함수를 통한 집계 ★★★★★
import math
def avg_ceil(x, y, z):
   return math.ceil((x+y+z))
abalone_df[['diameter','height','whole_weight']].apply(lambda x: avg_ceil(x[0],x[1],x[2]), axis=1)

0       1
1       1
2       2
3       2
4       1
       ..
4172    2
4173    2
4174    2
4175    2
4176    3
Length: 4177, dtype: int64

In [54]:
# 사용자 정의 함수 사용
# ['diameter','height', 'whole_weight'] 변수 사용
# 세 변수의 합이 1이 넘으면 True, 아니면 False 출력 후 answer 변수에 저장
# abalone_df에 answer 열을 추가하고 입력
abalone_sum = abalone_df[['diameter','height','whole_weight']].apply(lambda x: x[0]+x[1]+x[2], axis=1)>1
abalone_sum.name = 'answer'
pd.concat([abalone_df, abalone_sum], axis=1)

     sex  length  diameter  height  ...  shell_weight  rings   length_bool  answer
0      M   0.455     0.365   0.095  ...        0.1500     15  length_short   False
1      M   0.350     0.265   0.090  ...        0.0700      7  length_short   False
2      F   0.530     0.420   0.135  ...        0.2100      9  length_short    True
3      M   0.440     0.365   0.125  ...        0.1550     10  length_short    True
4      I   0.330     0.255   0.080  ...        0.0550      7  length_short   False
...   ..     ...       ...     ...  ...           ...    ...           ...     ...
4172   F   0.565     0.450   0.165  ...        0.2490     11   length_long    True
4173   M   0.590     0.440   0.135  ...        0.2605     10   length_long    True
4174   M   0.600     0.475   0.205  ...        0.3080      9   length_long    True
4175   F   0.625     0.485   0.150  ...        0.2960     10   length_long    True
4176   M   0.710     0.555   0.195  ...        0.4950     12   length_long    True

[4177 rows x 11 columns]

In [55]:
# 제시된 정답
# abalone_df['answer'] = abalone_sum

In [56]:
# 컬럼내 유니크한 값 뽑아서 개수 확인
abalone_df['sex'].value_counts(ascending=True, dropna=True)

F    1307
I    1342
M    1528
Name: sex, dtype: int64

In [57]:
# 두 개의 DataFrame 합치기
# 가상 abalone 1개 row 떼이터 생성 및 결합
one_abalone_df = abalone_df.iloc[[0]]
one_abalone_df
pd.concat([abalone_df, one_abalone_df], axis=0) # axis=0 => row

     sex  length  diameter  ...  shell_weight  rings   length_bool
0      M   0.455     0.365  ...        0.1500     15  length_short
1      M   0.350     0.265  ...        0.0700      7  length_short
2      F   0.530     0.420  ...        0.2100      9  length_short
3      M   0.440     0.365  ...        0.1550     10  length_short
4      I   0.330     0.255  ...        0.0550      7  length_short
...   ..     ...       ...  ...           ...    ...           ...
4173   M   0.590     0.440  ...        0.2605     10   length_long
4174   M   0.600     0.475  ...        0.3080      9   length_long
4175   F   0.625     0.485  ...        0.2960     10   length_long
4176   M   0.710     0.555  ...        0.4950     12   length_long
0      M   0.455     0.365  ...        0.1500     15  length_short

[4178 rows x 10 columns]

In [58]:
one_abalone_df = abalone_df.iloc[:, [0]]
one_abalone_df
pd.concat([abalone_df, one_abalone_df], axis=1)

      sex  length  diameter  height  ...  shell_weight  rings   length_bool  sex
0       M   0.455     0.365   0.095  ...        0.1500     15  length_short    M
1       M   0.350     0.265   0.090  ...        0.0700      7  length_short    M
2       F   0.530     0.420   0.135  ...        0.2100      9  length_short    F
3       M   0.440     0.365   0.125  ...        0.1550     10  length_short    M
4       I   0.330     0.255   0.080  ...        0.0550      7  length_short    I
...   ...     ...       ...     ...  ...           ...    ...           ...  ...
4172    F   0.565     0.450   0.165  ...        0.2490     11   length_long    F
4173    M   0.590     0.440   0.135  ...        0.2605     10   length_long    M
4174    M   0.600     0.475   0.205  ...        0.3080      9   length_long    M
4175    F   0.625     0.485   0.150  ...        0.2960     10   length_long    F
4176    M   0.710     0.555   0.195  ...        0.4950     12   length_long    M

[4177 rows x 11 columns]